<div class="container">
  <div class="messages-box">
    Messages Will appear here!!!
    <mat-list>
      <!-- Append messages here -->
      <ng-template appPlaceholder></ng-template>

    </mat-list>
  </div>
  <!-- Message TextArea -->
  <!-- <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile> -->
  <div class="form-controls">
    <form class="message-form">
      <mat-form-field class="message-box-full-width">
        <textarea matInput placeholder="Leave a Message" #messageTextArea></textarea>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="sendMessage(messageTextArea.value)">Send</button>
  </div>
  <!-- </mat-grid-tile> -->
  <!-- Send Button -->
  <!-- <mat-grid-tile> -->
  <!-- </mat-grid-tile>
  </mat-grid-list> -->

</div>
